<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <link rel="shortcut icon" href="@Url.Content("~/Content/favicon.ico")"/>
    <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/PageStyle.css")" />
    <title>@ViewBag.Title</title>
</head>
<body>
<table class="ContainerTable">
    <tr>
        <td align="center" valign="top">
            <table class="NavigateTable" cellpadding="0" cellspacing="4">
                <tr>
                    <td class="NavigateHeader" colspan="6" align="left">
                        <img src="@Url.Content("~/Content/GacLib_LogoAndTitle.gif")" alt="GacLib -- GPU Accelerated C++ User Interface"/>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <a class="MenuButton HomeButton@(Model.ActiveButton.ToString()=="Home" ? "Selected" : "")" href="@Url.Action("Index", "Home")">
                            HOME
                        </a>
                    </td>
                    <td align="center" valign="middle">
                        <a class="MenuButton GettingStartButton@(Model.ActiveButton.ToString() == "GettingStart" ? "Selected" : "")" href="@Url.Action("GettingStart", "Home")">
                            GETTING STARTED
                        </a>
                    </td>
                    <td align="center" valign="middle">
                        <a class="MenuButton DemosButton@(Model.ActiveButton.ToString() == "Demos" ? "Selected" : "")" href="@Url.Action("Demos", "Home")">
                            DEMOS
                        </a>
                    </td>
                    <td align="center" valign="middle">
                        <a class="MenuButton DownloadButton@(Model.ActiveButton.ToString() == "Download" ? "Selected" : "")" href="@Url.Action("Download", "Home")">
                            DOWNLOAD
                        </a>
                    </td>
                    <td align="center" valign="middle">
                        <a class="MenuButton DocumentButton@(Model.ActiveButton.ToString() == "Document" ? "Selected" : "")" href="@Url.Action("ShowDocument", "DocumentPage", new { uniqueId = "reference_gacui" })">
                            DOCUMENT
                        </a>
                    </td>
                    <td align="center" valign="middle">
                        <a class="MenuButton ContactButton@(Model.ActiveButton.ToString() == "Contact" ? "Selected" : "")" href="@Url.Action("Contact", "Home")">
                            CONTACT
                        </a>
                    </td>
                </tr>
                @RenderBody()
            </table>
        </td>
    </tr>
</table>
</body>
</html>
